/* These CSS rules apply to the <html>, <body>, and <div id="app"> HTML elements in index.html */
html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Continue building out the CSS styling for your Twiddler app below! We got you started by
providing a space for you to apply styles to your app's outermost HTML element - the #app itself. */

/* Font rule for reference
font-family: 'Roboto', sans-serif; */

body {
  background: linear-gradient(180deg, #536872, #232c38, #6e6b8a);
  background-size: 600% 600%;

  -webkit-animation: gradiate 43s ease infinite;
  -moz-animation: gradiate 43s ease infinite;
  animation: gradiate 43s ease infinite;
}

#app {
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  font-family: 'Raleway', sans-serif;
}

.profile-photo {
  border-radius: 50%;
  max-height: 80px;
  max-width: 80px;
}

.icon:hover {
  color: cyan;
}

button {
  height: 50px;
}

a:hover {
  animation: quickBlur 0.25s ease;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a9c0cf;
  grid-row: 1;
  grid-column: 2;
  margin: 10px;
  padding: 5px;
  text-align: center;

  filter: brightness(10%);
  animation: blurAnimation 10s ease infinite alternate;
}

#credit {
  color: c1c2e3;
}

#new-tweet-form {
  grid-column: 2;
}

#new-tweeds {
  grid-column: 2;
}

#update-feed {
  grid-column: 2;
}

#feed {
  grid-column: 2;
}

#friends-list {
  grid-column: 1;
  grid-row: 1;
}

#credit {
  display: flex;
  grid-column: 3;
  grid-row: 1;
}

.scrollToTop {
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin: 0 3em 3em 0;
  border-radius: 50%;
  padding: .25em;
  width: 80px;
  height: 80px;
  background-color: #F8F8F8;
}

.show {
  visibility: visible;
  opacity: 1;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

svg {
  fill: #000;
  width: 24px;
  height: 12px;
}

&:hover {
  background-color: #E8E8E8;

  svg {
    fill: #000000;
  }
}

textarea {
  display: block;
  border: 1px solid darkgrey;
  border-radius: 5px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.05);
}

@keyframes blurAnimation {
  /* Animation happens between 0% and 20% */
  0% {
    filter: blur(0);
  }
  10% {
    filter: blur(5px);
  }
  /* Animation is paused/delayed between 20% and 100% */
  20%, 100% {
    filter: blur(0);
  }
}

@keyframes quickBlur {
  0% {
    filter: blur(0);
  }
  80% {
    filter: blur(3px);
  }
  100% {
    filter: blur(0);
  }
}


@-webkit-keyframes gradiate {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes gradiate {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}
@keyframes gradiate {
  0%{background-position:50% 0%}
  50%{background-position:51% 100%}
  100%{background-position:50% 0%}
}